<div class="container bg-body-tertiary">
    <header>
        <h1 class="text-center">Perfil como prestador</h1>
        <div id="alert"></div>
    </header>
    <div *ngIf="loading">
        <div class="d-flex justify-content-center align-items-center">
            <div class="spinner-border text-warning" style="width: 4rem; height: 4rem; margin: 5rem ;"
                aria-hidden="true">
            </div>
        </div>
    </div>
    <section *ngIf="!loading">
        <div class="d-flex justify-content-between">
            <h2>Mis trabajos</h2>
            <button class="btn btn-warning m-2" routerLink="/trabajos"
                >Buscar trabajos disponibles</button>
        </div>
        <div id="trabajos">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Lugar</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Ver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listaTrabajos.reverse(); let i = index">
                        <th scope="row" class="align-middle col-1">{{i+1}}</th>
                        <td class="align-middle col-2">{{item.nombre}}</td>
                        <td class="align-middle col-2">{{item.fecha.substring(0,10)}}</td>
                        <td class="align-middle col-2">{{item.lugar}}</td>
                        <td class="align-middle col-2">
                            <span title="{{item.estado}}">{{item.estado.nombre}}</span>
                        </td>
                        <td class="align-middle col-1 ">
                            <btn class="btn btn-outline-warning btn-sm text-dark" routerLink="/trabajo/{{item.id}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                    class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                                    <path fill-rule="evenodd"
                                        d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                </svg>
                            </btn>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section *ngIf="!loading">
        <h2>Mensajes recibidos</h2>
        <div id="mensajesRecibidos">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Asunto</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Ver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of mensajesRecibidos.reverse(); let i = index">
                        <th scope="row" class="align-middle col-1">{{i+1}}</th>
                        <td class="align-middle col-4">{{item.asunto}}</td>
                        <td class="align-middle col-3">{{item.createdAt}}</td>
                        <td class="align-middle col-3">{{item.consumidor.usuario.nombre.charAt(0).toUpperCase() +
                            item.consumidor.usuario.nombre.slice(1)}}
                            {{item.consumidor.usuario.apellido.charAt(0).toUpperCase() +
                            item.consumidor.usuario.apellido.slice(1)}}</td>
                        <td class="align-middle col-1 ">
                            <btn class="btn btn-outline-warning btn-sm text-dark" routerLink="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                    class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                                    <path fill-rule="evenodd"
                                        d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                </svg>
                            </btn>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section *ngIf="!loading">
        <h2>Mensajes enviados</h2>
        <div id="mensajesEnviados">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Asunto</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Ver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of mensajesEnviados.reverse(); let i = index">
                        <th scope="row" class="align-middle col-1">{{i+1}}</th>
                        <td class="align-middle col-4">{{item.asunto}}</td>
                        <td class="align-middle col-3">{{item.createdAt}}</td>
                        <td class="align-middle col-3">{{item.consumidor.usuario.nombre.charAt(0).toUpperCase() +
                            item.consumidor.usuario.nombre.slice(1)}}
                            {{item.consumidor.usuario.apellido.charAt(0).toUpperCase() +
                            item.consumidor.usuario.apellido.slice(1)}}</td>
                        <td class="align-middle col-1 ">
                            <btn class="btn btn-outline-warning btn-sm text-dark" routerLink="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                    class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                                    <path fill-rule="evenodd"
                                        d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                </svg>
                            </btn>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
