<div class="bg-body-tertiary">
    <div class="container" >
        <h1 class="display-4 text-center">Bienvenido a ProService</h1>
        <h2 class="lead text-center">Conectamos prestadores de servicios con consumidores que los necesitan.</h2>
        <hr class="my-4">
        <div class="mt-4">
            <div class="lead">
                <p>
                    <b>Bienvenido a ProService</b>, la plataforma que conecta prestadores de servicios con consumidores
                    que
                    los necesitan.
                    ¿Necesitas un gasista, electricista o algún otro profesional? ¡Estás en el lugar indicado!
                </p>

                <p>
                    En ProService, te ofrecemos una amplia variedad de servicios de calidad, proporcionados por expertos
                    en
                    cada área. Nuestro objetivo es simplificar la búsqueda y contratación de profesionales para que
                    puedas
                    resolver tus necesidades de manera rápida y confiable.
                </p>

                <p>
                    ¿Cómo funciona? Es muy sencillo. Solo tienes que buscar el servicio que necesitas, seleccionar al
                    profesional que más te convenga, y contactarlo directamente a través de nuestra plataforma. Olvídate
                    de
                    complicados trámites y largas esperas, en ProService hacemos que encontrar al profesional adecuado
                    sea
                    fácil y cómodo.
                </p>

                <p>
                    No pierdas más tiempo buscando en directorios o preguntando a conocidos, con ProService tienes
                    acceso a
                    una amplia red de prestadores de servicios verificados y calificados. Además, encontrarás opiniones
                    y
                    valoraciones de otros usuarios para ayudarte a tomar la mejor decisión.
                </p>

                <p>
                    <b>Regístrate ahora</b> y descubre cómo ProService puede facilitarte la vida. ¡No esperes más para
                    encontrar al profesional que necesitas!
                </p>
            </div>
        </div>
        <p class="d-flex justify-content-center mt-4 pb-1">
            <button class="btn btn-warning btn-lg me-5" routerLink="/sing-up" role="button">
                Registrarse
            </button>
            <button class="btn btn-outline-dark btn-lg  " routerLink="/sing-in" role="button">
                Iniciar Sesión
            </button>
        </p>
    </div>
</div>

