<h1 class="text-center mt-5">¿Que vas a hacer?</h1>
<div class="container">
    <div id="botones" class="d-flex justify-content-center align-items-center mt-5 mb-5">
        <button type="button" class="btn btn-warning me-5 btn-lg text-dark" data-bs-toggle="modal"
            data-bs-target="#consumidorModal">
            Contratar&nbsp;servicio
        </button>
        <button type="button" class="btn btn-outline-dark btn-lg" data-bs-toggle="modal" data-bs-target="#prestadorModal" data-bs-dismiss="modal">
            Ofrecer&nbsp;servicio
        </button>
    </div>

    <div class="modal fade" id="consumidorModal" data-bs-backdrop="static" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Ficha de Consumidor</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="consumidorForm" [formGroup]="consumidorForm">
                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="metodoPago" class="form-label">Método de Pago</label>
                            <input type="text" class="form-control" id="metodoPago"
                                [ngClass]="{ 'is-invalid': consumidorForm.get('metodoPago')?.errors && consumidorForm.get('metodoPago')?.touched }"
                                placeholder="Ingrese su método de pago" formControlName="metodoPago">
                            <div class="text-danger" formControlName="metodoPago"
                                *ngIf="consumidorForm.get('metodoPago')?.hasError('required') && consumidorForm.get('metodoPago')?.touched">
                                <li>Este campo es requerido</li>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" data-bs-target="#consumidorModal" >Cerrar</button>
                        <button type="submit" class="btn btn-warning" [disabled]="consumidorForm.invalid" data-bs-target="#consumidorModal">
                            <div *ngIf="!loading" class="text-black">Confirmar</div>
                            <div *ngIf="loading" class="spinner-border text-black align-middle"
                                style="width: 1.5rem; height: 1.5rem; font-size: 0.7rem;" aria-hidden="true">
                            </div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="prestadorModal" data-bs-backdrop="static" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Ficha de Prestador</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="prestadorForm" [formGroup]="prestadorForm">
                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="cuilCuit" class="form-label">CUIL/CUIT</label>
                            <input type="text" class="form-control" id="cuilCuit" placeholder="Ingrese su CUIL/CUIT"
                                formControlName="cuilCuit"
                                [ngClass]="{ 'is-invalid': prestadorForm.get('cuilCuit')?.errors && prestadorForm.get('cuilCuit')?.touched }">
                            <div class="text-danger" formControlName="cuilCuit"
                                *ngIf="prestadorForm.get('cuilCuit')?.hasError('required') && prestadorForm.get('cuilCuit')?.touched">
                                <li>Este campo es requerido</li>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción del Prestador</label>
                            <textarea class="form-control" id="descripcion" rows="3" formControlName="descripcion"
                                [ngClass]="{ 'is-invalid': prestadorForm.get('descripcion')?.errors && prestadorForm.get('descripcion')?.touched }"
                                placeholder="Ingrese la descripción del prestador"></textarea>
                            <div class="text-danger" formControlName="descripcion"
                                *ngIf="prestadorForm.get('descripcion')?.hasError('required') && prestadorForm.get('descripcion')?.touched">
                                <li>Este campo es requerido</li>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="fotosTrabajos" class="form-label">Fotos de Trabajos Realizados</label>
                            <input type="text" class="form-control" id="fotosTrabajos">
                        </div>
                        <div class="mb-3">
                            <label for="horariosAtencion" class="form-label">Horarios de Atención</label>
                            <input type="text" class="form-control" id="horariosAtencion"
                                formControlName="horarioAtencion"
                                [ngClass]="{ 'is-invalid': prestadorForm.get('horarioAtencion')?.errors && prestadorForm.get('horarioAtencion')?.touched }"
                                placeholder="Ingrese los horarios de atención">
                            <div class="text-danger" formControlName="horariosAtencion"
                                *ngIf="prestadorForm.get('horarioAtencion')?.hasError('required') && prestadorForm.get('horarioAtencion')?.touched">
                                <li>Este campo es requerido</li>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="disponibilidad" class="form-label">Disponibilidad</label>
                            <select class="form-select" id="disponibilidad" formControlName="disponibilidad"
                                [ngClass]="{ 'is-invalid': prestadorForm.get('disponibilidad')?.errors && prestadorForm.get('disponibilidad')?.touched }">
                                <option value="true">Disponible</option>
                                <option value="false">No disponible</option>
                            </select>
                            <div class="text-danger" formControlName="disponibilidad"
                                *ngIf="prestadorForm.get('disponibilidad')?.hasError('required') && prestadorForm.get('disponibilidad')?.touched">
                                <li>Este campo es requerido</li>
                            </div>
                        </div>
                        <div>
                            <label for="radioCobertura" class="form-label">Radio de Cobertura</label>
                            <input type="text" class="form-control" id="radioCobertura" formControlName="radioCobertura"
                                [ngClass]="{ 'is-invalid': prestadorForm.get('radioCobertura')?.errors && prestadorForm.get('radioCobertura')?.touched }"
                                placeholder="Ingrese el radio de cobertura">
                            <div class="text-danger" formControlName="radioCobertura"
                                *ngIf="prestadorForm.get('radioCobertura')?.hasError('required') && prestadorForm.get('radioCobertura')?.touched">
                                <li>Este campo es requerido</li>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-warning " [disabled]="!prestadorForm.valid">
                            <div *ngIf="!loading" class="text-black">Confirmar</div>
                            <div *ngIf="loading" class="spinner-border text-black align-middle"
                                style="width: 1.5rem; height: 1.5rem; font-size: 0.7rem;" aria-hidden="true">
                            </div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>