<div class="container">
    <header>
        <h1 class="text-center">Perfil como consumidor</h1>
    </header>

    <section>
        <h2>Mensajes</h2>
        <div id="trabajos">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Asunto</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Prestador</th>
                        <th scope="col">Ver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="align-middle">1</th>
                        <td class="align-middle">dffg</td>
                        <td class="align-middle">dffg</td>
                        <td class="align-middle">dfg</td>
                        <td class="align-middle col-1 ">
                            <btn class="btn btn-outline-warning btn-sm text-dark" routerLink="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                    class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                                    <path fill-rule="evenodd"
                                        d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                </svg>
                            </btn>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section>
        <div class="d-flex justify-content-between">
            <h2>Trabajos</h2>
            <button class="btn btn-warning text-dark m-2">Crear Trabajo</button>
        </div>
        <div id="trabajos">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Lugar</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Ver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let item of listaTrabajos">
                        <th scope="row" class="align-middle">{{item.id}}</th>
                        <td class="align-middle">{{item.nombre}}</td>
                        <td class="align-middle">{{item.fecha.substring(0,10)}}</td>
                        <td class="align-middle">{{item.lugar}}</td>
                        <td class="align-middle col-5">
                            <span title="{{item.tareas}}">{{item.estadoId}}</span>
                        </td>
                        <td class="align-middle col-1 ">
                            <btn class="btn btn-outline-warning btn-sm text-dark" routerLink="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                    class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                                    <path fill-rule="evenodd"
                                        d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                </svg>
                            </btn>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>