<div *ngIf="loading">
    <div class="d-flex justify-content-center align-items-center">
        <div class="spinner-border text-warning" style="width: 4rem; height: 4rem; margin: 5rem ;" aria-hidden="true">
        </div>
    </div>
</div>
<div *ngIf="!loading" class="container bg-body-tertiary">
    <div class="row">
        <div class="col-6 offset-3 text-center">
            <h2>
                Descripcion del trabajo
            </h2>
        </div>
        <div class="col-8 offset-2">
            <h4>Nombre</h4><p>{{ trabajo.nombre }}</p>
        </div>
        <div class="col-8 offset-2">
            <h5>Tareas</h5><p>{{ trabajo.tareas }}</p>
        </div>
        <div class="col-8 offset-2">
            <h5>Lugar</h5><p>{{ trabajo.lugar }}</p>
        </div>
        <div class="col-8 offset-2">
            <h5>Fecha</h5><p>{{ trabajo.fecha.substring(0,10) }}</p>
        </div>
        <div class="col-8 offset-2">
            <h5>Horario</h5><p>{{ trabajo.rangoHorario }}</p>
        </div>
        <div class="col-8 offset-2">
            <h5>Estado</h5><p>{{ trabajo.estado.nombre.charAt(0).toUpperCase() +
                trabajo.estado.nombre.slice(1)}}</p>
        <div class="col-8 offset-2 text-center">
            <button *ngIf="trabajoDisponible" type="button" class="btn btn-warning m-2" routerLink="/postulate/{{trabajo.consumidorId}}">Postularse</button>
            <button *ngIf="trabajoEstado && !trabajoDisponible" type="button" class="btn btn-outline-warning text-dark m-2">Cambiar estado</button>
            <button type="button" class="btn btn-outline-dark m-2" (click)="goBack()">Volver</button>
        </div>

    </div>
</div>